.cardComponent {
    display: flex;
    flex-direction: column;
    background-color: #EBECF0;
    padding: 12px;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 1;
    height: auto;
    max-width: 20%;
    height: max-content;

}

.cardComponent__title {
    font-size: 18px;
    margin-bottom: 15px;
}

.cardComponent__cards {
    padding: 0;
}

.cardComponent__cards-link {
    text-decoration: none;
    color: black;
    display: block;
    list-style: none;
    margin: 0;
    background-color: #fff;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.cardComponent__cards-item {
    list-style: none;
    margin: 0;
    background-color: #fff;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cardComponent__button {
    text-align: start;
    border: none;
    color: #5E6C84;
    font-size: 18px;
}

.cardComponent__button.pointer {
    cursor: pointer;
}

.cardComponent__button:disabled {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: default;
}

.cardComponent__select {
    display: none;
    list-style: none;
    margin: 0;
    background-color: #fff;
    padding: 7px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
}

.cardComponent__select.activeSelect {
    display: block;
}


.backlog__input {
    display: none;
    margin-bottom: 17px;
    background-color: #fff;
    height: 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.backlog__input.isActive {
    display: block;
}

.backlog__button {
    display: block;
    text-align: start;
    border: none;
    color: #5E6C84;
    font-size: 18px;
    cursor: pointer;
}

.backlog__button.isHidden {
    display: none;
}

.backlog__submit {
    display: none;
    background-color: #0079BF;
    text-align: center;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    width: 110px;
    cursor: pointer;
}

.backlog__submit.isActive {
    display: block;
}

@media screen and (max-width: 659px) {
    .cardComponent {
        width: 125px;
        min-width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .cardComponent {
        width: 125px;
        min-width: 75%;
    }
}
